@import "tailwindcss";
.container{
  max-width: 1340px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.header__link.active{
  color: red;
}
@layer base {
  body {
    @apply bg-black text-white
  }
}
.swiper-button-next:after, 
.swiper-button-prev:after{
  background: #2b2b2b;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  display: grid; 
  place-content: center; 
}
.scrollbar-custom::-webkit-scrollbar {
    height: 12px;
    background-color: #2b2b2b;
    border-radius: 6px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #64748b;
    border-radius: 6px;
    border: 2px solid #2b2b2b;
}
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
}
.scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #64748b #2b2b2b;
}
.tab a{
    color: #555;
    font-size: 20px;
    font-weight: 600;
}
.tab a.active{
    color: #C61F1F;
    text-decoration: underline;
}
.tab{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.image-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; /* Adjust this value to change the height of the gradient */
  background: linear-gradient(to top, black, transparent);
  pointer-events: none; /* Allows clicks to pass through the gradient to the image below */
}
.custom-pagination .ant-pagination-item {
  background-color: #1d1d1d !important;
  border-color: #333 !important;
}

.custom-pagination .ant-pagination-item a {
  color: white !important;
}

.custom-pagination .ant-pagination-item-active {
  background-color: #C61F1F !important;
  border-color: #C61F1F !important;
}

.custom-pagination .ant-pagination-prev .anticon,
.custom-pagination .ant-pagination-next .anticon {
  color: white !important;
}
@media (max-width:570px) {
.swiper-button-next:after, 
.swiper-button-prev:after{
  min-width: 47px;
  height: 47px;

}
}